.formButtonAdd{
    margin-bottom: 20px;
    margin-left: 10px;
}
.ListFromDb{
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 1px solid rgb(55, 209, 236);
}